.item {
    background: lightcoral;
    color: white;
    padding: 10px;
    margin: 10px;
}

.container {
    display: grid;

    /* 그리드 컬럼 구분 및 너비 지정 */
    /* 반응형 화면을 설계할 때 사용하기 좋음*/
    grid-template-columns: 200px 200px 200px;
    grid-template-columns: repeat(3, 200px);
    grid-template-columns: 100px 200px auto;

    /* fr : fractional unit(유분수 단위)
       -> 그리드 공간을 일정 비율로 나눌 때 사용
    */
    grid-template-columns: 1fr 1fr 1fr;

    /* gap : 간격 */
    row-gap: 20px;
    column-gap: 10px;

    gap: 30px;

    /* 그리드 행 너비 지정 */
    /* 특정 행의 높이를 지정할 수 있음*/
    grid-template-rows: repeat(3, 100px);

    /* 그리드 모든 행 너비 자동 지정 */
    grid-auto-rows: 100px;
}

.item:nth-child(1) {
    /* 열 병합 */
    grid-column-start: 1;
    grid-column-end: 3;

    grid-column: 1/3; /* start/end */
}

.item:nth-child(3) {
    grid-column: 1/4; /* start/end */
    background-color: chocolate;
}

.item:nth-child(4) {
    grid-row: 3/5; /* start/end */
    background-color: blueviolet;
}

.item:nth-child(5) {
    grid-column: 2/4;
    grid-row: 3/5; /* start/end */
    background-color: yellow;
}

/*grid-template-areas*/
.container-2 {
    display: grid;

    grid-template-columns: 200px 1fr 1fr;
    grid-template-rows: 100px 200px 200px 80px;

    /* 그리드 모양을 별칭을 이용해 지정 */
    grid-template-areas:
    "header header header" /* "" 1개당 1행 */
    "sidebar content content"
    "sidebar content content"
    "sidebar footer footer";

    background-color: silver;
}

.header {
    background-color: saddlebrown;
    grid-area: header;
}

.sidebar {
    background-color: sandybrown;
    grid-area: sidebar;
}

.content {
    background-color: beige;
    grid-area: content;
}

.footer {
    background-color: rgba(55, 0, 94, 0.21);
    grid-area: footer;
}
