img {
    width: 250px;
    height: 200px;
    transition-duration: 1s;
    transition-timing-function: ease;
}

.trans1:hover {
    transform: perspective(300px) translate3d(50px, 50px, 100px);
}

.trans2:hover {
    transform: perspective(300px) translateZ(100px);
}

.trans3:hover {
    transform: perspective(300px) rotateX(1080deg);
}

.trans4:hover {
    transform: perspective(300px) rotateY(1080deg);
}

.trans5:hover {
    transform: perspective(300px) rotateZ(-1080deg);
}

.trans6:hover {
    transform: perspective(300px) rotate3d(2.5, 1.5, -1.5, 180deg);
}
